<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dish</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function() {

        $("#deleteButton").click(function () {

        });
    });

    </script>
</head>
<body>
<table class="table">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>num</td>
        <td>price</td>
    </tr>

    <tr th:each="dish:${dishes}">
        <td>[[${dish.id}]]</td>
        <td>[[${dish.name}]]</td>
        <td>[[${dish.num}]]</td>
        <td>[[${dish.price}]]</td>
        <td><a class="btn btn-default" th:href="@{/deleteDish/}+${dish.id}" role="button">删除</a></td>
        <td><a class="btn btn-default" th:href="@{/updateHtml/}+${dish.id}" role="button">修改</a></td>
    </tr>
    <h3><a class="btn btn-default" th:href="@{/addHtml}" role="button">添加</a></h3>
</table>

</body>
</html>